div.folders{
  padding: 1em 0em 2em 0.5em;
  overflow-y: auto;
  max-height: 98vh;
  //height: 100vh;
  //background: lightgreen;
  div[class^=tree-]{
    cursor: pointer;
    padding: 0.2em;
  }
  .tree-tree{
    position: relative;
    .tree-children{
      position: relative;
    }
  }
  .tree-children{
    position: relative;
  }
  .tree-tree, .tree-leaf{
    &:hover{
      background: rgba(23,145,200,0.1);
    }
  }
  .tree-leaf{
    &.isOpen-TL{
      background: lighten($bluegreen, 30);
    }
    &.isOpen-TR{
      background: lighten($yellow, 25);
    }
    &.isOpen-BL{
      background: lighten($purple, 25);
    }
    &.isOpen-BR{
      background: lighten($brown, 25);
    }
  }
  #app-logo a{
    //font-family: "Comic Sans MS", cursive, sans-serif;
    font-family: "Lucida Console", Monaco, monospace;
    font-size: 1.5em;
    font-weight: bold;
    text-decoration: none;
    color: $black;
    margin-bottom: 2em;
    &:hover{
      color: lighten($black, 30);
    }
  }
}
span.folder-icon{
  width: 1.2em;
  display: inline-block;
  &.open{
    color: $bluegreen;
  }
  &.closed{
    //color: $red;
    color: lighten($red, 7);
  }
}
//div.disable-app{
//  background: lighten($black, 25);
//  color: $white;
//  padding: 0.3em;
//  font-size: 1.1em;
//  width: 6em;
//  bottom: 40px;
//  text-align: center;
//  margin-top: 3em;
//  margin-left: 1em;
//  cursor: pointer;
//  user-select: none;
//  &:hover{
//    //background: lighten($red, 1);
//    background: lighten($black, 15);
//  }
//}
div.disable-app{
  position: relative;
  display: flex;
  width: 100%;
  margin-top: 3em;
  justify-content: center;
  //align-items: center;
  span{
    color: $red;
    //background: lighten($black, 25);
    //color: $white;
    padding: 0.3em;
    font-size: 1em;
    border: 1px solid $red;
    //width: 6em;
    //bottom: 40px;
    text-align: center;
    //margin-top: 3em;
    //margin-left: 1em;
    cursor: pointer;
    user-select: none;
    &:hover{
      //background: $red;
      //color: $white;
      //background: $red;
      color: darken($red, 30);
      border: 1px solid darken($red, 30);
    }

  }
}
span.repo-title{
  font-size: 1.1em;
  font-weight: bold;
}
span.repo-logo{
  svg{
    height: 1.6em;
    width: 1.6em;
  }
}
a#repo-link{
  color: $bluegreen;
}
