@import 'allcolors.scss';

*{
  box-sizing: border-box;
  font-family: "Courier New", Courier, monospace;
  font-size: 18px;
}
body{
  background: $white;
}
#app{
  height: 100vh;
  width: 100vw;
  max-height: 100vh;
  max-width: 100vw;
  background: $white;
  //background: pink;
}
#app .content{
  display: flex;
  overflow-y: none;
}

div.folders{
  //border-right: 1px solid green;
  //position: relative;
  //height: 100vh;
  //max-height: 100vh;
  //width: 100%;
  //max-width: 100vw;
}
div#viewport{
  flex: 1;
  position: relative;
  height: 100vh;
  max-height: 100vh;
  //overflow-y: none;
  //border: 1px solid red;
  //width: 100%;
  //max-width: 100vw;
}
div[class^=Divider]{
  cursor: pointer;
}
.Divider-top{
  position: absolute;
  //top: 0px;
  //left: 20vw;
  //height: 100vh;
  //min-height: 100vh;
  //width: 8px;
  //background-color: purple;
  //background-image: linear-gradient(to right, 
  //                    rgba(255,255,255,0) 0%,
  //                    rgba(255,255,255,0) 40%,
  //                    rgba(255,0,0,0.5) 45%,
  //                    rgba(255,0,0,1) 50%,
  //                    rgba(255,0,0,0.5) 55%,
  //                    rgba(255,255,255,0) 70%,
  //                    rgba(255,255,255,0) 100%);
  background-image: linear-gradient(to right, 
                      rgba($white,0) 0%,
                      rgba($white,0) 40%,
                      rgba($bluegreen,0.5) 45%,
                      rgba($bluegreen,1) 50%,
                      rgba($bluegreen,0.5) 55%,
                      rgba($white,0) 70%,
                      rgba($white,0) 100%);
}
.Divider-left, .Divider-right{
  //margin-left: 10px;
  position: absolute;
  //top: 0px;
  //left: 20vw;
  //height: 8px;
  //min-height: 8px;
  //width: 8px;
  //background: orange;

  background-image: linear-gradient(to bottom, 
                      rgba($white,0) 0%,
                      rgba($white,0) 40%,
                      rgba($bluegreen,0.5) 45%,
                      rgba($bluegreen,1) 50%,
                      rgba($bluegreen,0.5) 55%,
                      rgba($white,0) 70%,
                      rgba($white,0) 100%);
}
.Divider-folder{
  //position: absolute;
  position: absolute;
  z-index: 90;
  //&:hover{
  //  background: yellow;
  //}
  //background: lightgreen;
  background-image: linear-gradient(to right, 
                      rgba($white,0) 0%,
                      rgba($white,0) 40%,
                      $bluegreen 45%,
                      $bluegreen 50%,
                      $bluegreen 55%,
                      rgba($white,0) 70%,
                      rgba($white,0) 100%);
}
