@import 'allcolors.scss';

.Viewpanel{
  //border: 1px solid blue;
  position: absolute;
  padding: 0.6em;
  .buttonry{
    position: absolute;
    top: 4px;
    right: 25px;
    //padding: 3px 12px;
    opacity: 0.4;
    cursor: pointer;
    font-weight: 900;
    //font-size: 1.6em;
    span > svg{
      font-size: 1.1em;
    }
    //border-radius: 20%/50%;
    //background: rgba($black,0.9);
    //color: lighten($black, 70);
    &:hover{
      opacity: 0.85;
    }
    span.close{
      //font-weight: bold;
      &:hover{
        color: $red;
        //background: yellow;
      }
    }
    span.maximize{
      &:hover{
        color: $red;
        //background: yellow;
        //background: purple;
      }
    }
    span.minimize{
      &:hover{
        color: $red;
      }
    }
  }
  &.activePanel{
    //box-shadow: 0px -30px 40px rgba(0,0,0,.1);
    background: lighten($bluegreen, 42);
    span.panel-filename{
      //color: $green;
    }
  }
}
pre,code{
  overflow-y: auto;
  max-height: 95%;
  min-height: 95%;
  white-space: pre-wrap !important; /* make code wrap */
  span{
    //word-wrap: break-word !important;
    //word-break: break-word !important;

  }

}
